#app-content {
  .city {
    margin: 2em;
    border: 1px solid grey;
    padding: 1em;

    .city-sidebar {
      .city-information {
        p {
          font-size: 1.5em;
        }
      }
      .city-current-weather {
        p {
          font-size: 1.5em;
        }
      }
    }
    .city-historical-data {
      h1 {
        font-size: 2em;
      }

      .historical-data-card {
        margin-top: 0.5em;
      }
    }
  }
}
