#app-content {
  .city {
    margin: 2em;

    .city-sidebar {
      .city-information {
        p {
          font-size: 1.5em;
        }
      }
      .city-current-weather {
        p {
          font-size: 1.5em;
        }
      }
    }
    .city-historical-data {
      background-color: green;
      h1 {
        font-size: 2em;
      }
    }
  }
}
