#app-container {
  #app-header { 
      #app-title {

      }
      #app-actions {

      }
  }
  #app-content {
    
    .city {
      .city-sidebar {
          .city-information {
              p {
                  font-size: 1.5em;
              }
          }
          .city-current-weather {
              p {
                  font-size: 1.5em;
              }
          }
      }
      .city-historical-data {
          h1 {
              font-size: 2em;
          }
      }
  }
  }
}